LAB4/GA.json
[{"id":"d25f48b2.cf1b1","type":"inject","z":"cabd6956.22028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["ec37ea38.d87a1"]]},{"id":"ec37ea38.d87a1","type":"oM2M-Application","z":"cabd6956.22028","xSCL":"72ac80fa.e39fe","xA":"414cadbd.6c76a4","obixType":"Gateway Application","obixCategory":"Demo","obixLocation":"NCKU","obixAnnounce":true,"x":340,"y":100,"wires":[["3075eabf.2a2306"]]},{"id":"3075eabf.2a2306","type":"http request","z":"cabd6956.22028","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":570,"y":100,"wires":[["d78a2360.d89238"]]},{"id":"d78a2360.d89238","type":"debug","z":"cabd6956.22028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":100,"wires":[]},{"id":"ac6af554.24502","type":"oM2M-Descriptor-Container","z":"cabd6956.22028","xSCL":"99b9e1d8.8a7c9","xA":"414cadbd.6c76a4","x":340,"y":220,"wires":[["89bce173.cb67a8"]]},{"id":"b8b73831.449618","type":"oM2M-Data-Container","z":"cabd6956.22028","xSCL":"99b9e1d8.8a7c9","xA":"414cadbd.6c76a4","maxNrOfInstances":"100","obixAnnounce":true,"x":340,"y":340,"wires":[["4ff1455e.f6aa84"]]},{"id":"feb87306.03d21","type":"oM2M-Descriptor-ContentInstance","z":"cabd6956.22028","xSCL":"99b9e1d8.8a7c9","xA":"414cadbd.6c76a4","obixType":"","obixLocation":"","x":340,"y":280,"wires":[["4d5b193a.8c6288"]]},{"id":"2fb5d6ee.b73c82","type":"oM2M-Data-ContentInstance","z":"cabd6956.22028","xSCL":"99b9e1d8.8a7c9","xA":"414cadbd.6c76a4","obixCategory":"","x":500,"y":400,"wires":[["6b816e4c.416db"]]},{"id":"b28ffc70.0db55","type":"inject","z":"cabd6956.22028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["ac6af554.24502"]]},{"id":"6bd89807.5a7a8","type":"inject","z":"cabd6956.22028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":280,"wires":[["feb87306.03d21"]]},{"id":"f242a8eb.f0eb7","type":"inject","z":"cabd6956.22028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["b8b73831.449618"]]},{"id":"89bce173.cb67a8","type":"http request","z":"cabd6956.22028","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":550,"y":220,"wires":[["2ad9bdf9.f0ab8a"]]},{"id":"2ad9bdf9.f0ab8a","type":"debug","z":"cabd6956.22028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":220,"wires":[]},{"id":"784e1416.7a08a4","type":"function","z":"cabd6956.22028","name":"My Data","func":"var data = {\n    type: 'gps',\n    uint: 'float',\n    latitude: msg.payload.latitude,\n    longitude: msg.payload.longitude\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":400,"wires":[["2fb5d6ee.b73c82"]]},{"id":"4ff1455e.f6aa84","type":"http request","z":"cabd6956.22028","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":550,"y":340,"wires":[["edbb3265.0f55d8"]]},{"id":"edbb3265.0f55d8","type":"debug","z":"cabd6956.22028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":340,"wires":[]},{"id":"4d5b193a.8c6288","type":"http request","z":"cabd6956.22028","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":550,"y":280,"wires":[["d53e9b82.bd5c"]]},{"id":"d53e9b82.bd5c","type":"debug","z":"cabd6956.22028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"6b816e4c.416db","type":"http request","z":"cabd6956.22028","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":710,"y":400,"wires":[["83cb4dae.fe46e8"]]},{"id":"83cb4dae.fe46e8","type":"debug","z":"cabd6956.22028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":400,"wires":[]},{"id":"f0f2ff62.6bea28","type":"http in","z":"cabd6956.22028","name":"Post Sensor Data","url":"/locationData","method":"post","upload":false,"swaggerDoc":"","x":120,"y":400,"wires":[["784e1416.7a08a4","d835be20.9dee48"]]},{"id":"d835be20.9dee48","type":"http response","z":"cabd6956.22028","name":"","statusCode":"","headers":{},"x":320,"y":480,"wires":[]},{"id":"72ac80fa.e39fe","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"414cadbd.6c76a4","type":"xA","z":"","appId":"LOCATION_GATEWAY_APPLICATION","contactUrl":"localhost:1880"},{"id":"99b9e1d8.8a7c9","type":"xSCL","z":"","sclId":"gscl","host":"127.0.0.1","port":"8181","baseUrl":"/om2m/"}]