LAB4/NA.json
[{"id":"3c4d339c.9485ec","type":"inject","z":"6c9c30b6.2cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["2eda2a03.d2a2de"]]},{"id":"2eda2a03.d2a2de","type":"oM2M-Application","z":"6c9c30b6.2cc","xSCL":"abdac608.ca7e5","xA":"414cadbd.6c76a4","obixType":"Gateway Application","obixCategory":"Demo","obixLocation":"NCKU","obixAnnounce":true,"x":320,"y":80,"wires":[["2254834c.f1fcf4"]]},{"id":"2254834c.f1fcf4","type":"http request","z":"6c9c30b6.2cc","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":550,"y":80,"wires":[["f1d577b7.4f327"]]},{"id":"f1d577b7.4f327","type":"debug","z":"6c9c30b6.2cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":80,"wires":[]},{"id":"246b3017.f7b668","type":"oM2M-Subscription","z":"6c9c30b6.2cc","xSCL":"abdac608.ca7e5","xA":"414cadbd.6c76a4","contactPath":"/notification_location","filterType":"","filterCriteria":"","x":310,"y":160,"wires":[["f4b07d49.cb3408"]]},{"id":"104835f5.1104d2","type":"inject","z":"6c9c30b6.2cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["246b3017.f7b668"]]},{"id":"f4b07d49.cb3408","type":"http request","z":"6c9c30b6.2cc","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LOCATION_GATEWAY_APPLICATION/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":510,"y":160,"wires":[["d925dcb7.f20b6"]]},{"id":"d925dcb7.f20b6","type":"debug","z":"6c9c30b6.2cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":160,"wires":[]},{"id":"c78e6e17.3aa19","type":"http in","z":"6c9c30b6.2cc","name":"Listen to HTTP POST Notification","url":"/notification_location","method":"post","upload":false,"swaggerDoc":"","x":170,"y":260,"wires":[["3ac98f0c.385f4","70039fbd.17761"]]},{"id":"3ac98f0c.385f4","type":"xml","z":"6c9c30b6.2cc","name":"","property":"payload","attr":"","chr":"","x":410,"y":260,"wires":[["b12b41dd.61633"]]},{"id":"70039fbd.17761","type":"http response","z":"6c9c30b6.2cc","name":"Notification Response","statusCode":"","headers":{},"x":490,"y":340,"wires":[]},{"id":"b12b41dd.61633","type":"function","z":"6c9c30b6.2cc","name":"Extract Data from XML","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["440c5ea9.0084f","8049a481.b98c38"]]},{"id":"440c5ea9.0084f","type":"debug","z":"6c9c30b6.2cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":260,"wires":[]},{"id":"8049a481.b98c38","type":"file","z":"6c9c30b6.2cc","name":"","filename":"/Users/ttw/NCKU/1081/iot/om2m_LAB/LAB4/notification.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":960,"y":340,"wires":[[]]},{"id":"e8232b0a.743e68","type":"http in","z":"6c9c30b6.2cc","name":"","url":"/locationData","method":"get","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["212ba752.9e8d1"]]},{"id":"212ba752.9e8d1","type":"file in","z":"6c9c30b6.2cc","name":"","filename":"/Users/ttw/NCKU/1081/iot/om2m_LAB/LAB4/notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":440,"wires":[["c1de95f6.00ae1"]]},{"id":"c1de95f6.00ae1","type":"xml","z":"6c9c30b6.2cc","name":"","property":"payload","attr":"","chr":"","x":770,"y":440,"wires":[["f9739f4b.c407a8"]]},{"id":"eb0f9361.0e084","type":"http response","z":"6c9c30b6.2cc","name":"","statusCode":"","headers":{},"x":1230,"y":440,"wires":[]},{"id":"f9739f4b.c407a8","type":"json","z":"6c9c30b6.2cc","name":"","property":"payload","action":"","pretty":false,"x":890,"y":440,"wires":[["8ddaa837.1813b8"]]},{"id":"8ddaa837.1813b8","type":"function","z":"6c9c30b6.2cc","name":"Parse XML JSON","func":"var data = JSON.parse(msg.payload);\nvar object1 = data.obj;\nvar string1 = object1.str;\nvar tres = string1[3];\nvar tres_$ = tres.$;\nvar latitude = tres_$.val;\nvar cuatro = string1[4];\nvar cuatro_$ = cuatro.$;\nvar longitude = cuatro_$.val;\nmsg.payload = {\n    \"latitude\":latitude,\n    \"longitude\": longitude\n};\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":440,"wires":[["eb0f9361.0e084","bf3fdcb5.10ecc"]]},{"id":"bf3fdcb5.10ecc","type":"debug","z":"6c9c30b6.2cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":500,"wires":[]},{"id":"abdac608.ca7e5","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"414cadbd.6c76a4","type":"xA","z":"","appId":"LOCATION_GATEWAY_APPLICATION","contactUrl":"localhost:1880"}]