LAB5/flows.json
[{"id":"11d434f.cfb734b","type":"http in","z":"a8e707bb.5c0128","name":"","url":"/Lab5","method":"post","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["3697ff3e.0cb56","4c6f660b.3b8878"]]},{"id":"3697ff3e.0cb56","type":"http response","z":"a8e707bb.5c0128","name":"","statusCode":"","headers":{},"x":310,"y":80,"wires":[]},{"id":"232ae400.f9f9ec","type":"switch","z":"a8e707bb.5c0128","name":"","property":"payload[2]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":310,"y":320,"wires":[["603efa29.00b39c"],["4007f5f0.a0c67c"],["a5cdd35.b28433"],["266e5590.25ba0a"],["27b3b25a.1514ae"],["478085e2.55f36c"]]},{"id":"4c6f660b.3b8878","type":"json","z":"a8e707bb.5c0128","name":"","property":"payload","action":"","pretty":false,"x":310,"y":120,"wires":[["232ae400.f9f9ec"]]},{"id":"81bb9b20.61d288","type":"debug","z":"a8e707bb.5c0128","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":340,"wires":[]},{"id":"6bc6ea98.d7d9ac","type":"http request","z":"a8e707bb.5c0128","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/lamps/true","tls":"","proxy":"","authType":"basic","x":730,"y":201,"wires":[["81bb9b20.61d288"]]},{"id":"67cb61d2.ab33b","type":"http request","z":"a8e707bb.5c0128","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/lamps/false","tls":"","proxy":"","authType":"basic","x":730,"y":241,"wires":[["81bb9b20.61d288"]]},{"id":"698d595c.57acc8","type":"http request","z":"a8e707bb.5c0128","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/lamps/true","tls":"","proxy":"","authType":"basic","x":730,"y":281,"wires":[["81bb9b20.61d288"]]},{"id":"dfb70af1.5c5dd","type":"http request","z":"a8e707bb.5c0128","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/lamps/false","tls":"","proxy":"","authType":"basic","x":730,"y":320,"wires":[["81bb9b20.61d288"]]},{"id":"603efa29.00b39c","type":"change","z":"a8e707bb.5c0128","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":200,"wires":[["6bc6ea98.d7d9ac"]]},{"id":"4007f5f0.a0c67c","type":"change","z":"a8e707bb.5c0128","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":240,"wires":[["67cb61d2.ab33b"]]},{"id":"a5cdd35.b28433","type":"change","z":"a8e707bb.5c0128","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["698d595c.57acc8"]]},{"id":"266e5590.25ba0a","type":"change","z":"a8e707bb.5c0128","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":320,"wires":[["dfb70af1.5c5dd"]]},{"id":"27b3b25a.1514ae","type":"change","z":"a8e707bb.5c0128","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[["4b122d10.cc5bdc","2a5f3501.8bbb52"]]},{"id":"478085e2.55f36c","type":"change","z":"a8e707bb.5c0128","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":460,"wires":[["8875e54c.25ac58","81cfac51.5abf9"]]},{"id":"4b122d10.cc5bdc","type":"http request","z":"a8e707bb.5c0128","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/lamps/true","tls":"","proxy":"","authType":"basic","x":730,"y":360,"wires":[["81bb9b20.61d288"]]},{"id":"2a5f3501.8bbb52","type":"http request","z":"a8e707bb.5c0128","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/lamps/true","tls":"","proxy":"","authType":"basic","x":730,"y":400,"wires":[["81bb9b20.61d288"]]},{"id":"8875e54c.25ac58","type":"http request","z":"a8e707bb.5c0128","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/lamps/false","tls":"","proxy":"","authType":"basic","x":730,"y":440,"wires":[["81bb9b20.61d288"]]},{"id":"81cfac51.5abf9","type":"http request","z":"a8e707bb.5c0128","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/lamps/false","tls":"","proxy":"","authType":"basic","x":730,"y":480,"wires":[["81bb9b20.61d288"]]},{"id":"fd92d9ca.9448","type":"http in","z":"a8e707bb.5c0128","name":"","url":"/Lab5_sub","method":"post","upload":false,"swaggerDoc":"","x":140,"y":700,"wires":[["297b0452.06cf24","b3087511.f43d1"]]},{"id":"b3087511.f43d1","type":"xml","z":"a8e707bb.5c0128","name":"","property":"payload","attr":"","chr":"","x":310,"y":700,"wires":[["fdbf84b4.3a212"]]},{"id":"297b0452.06cf24","type":"http response","z":"a8e707bb.5c0128","name":"Notification Response","statusCode":"","headers":{},"x":390,"y":780,"wires":[]},{"id":"fdbf84b4.3a212","type":"function","z":"a8e707bb.5c0128","name":"Extract Data from XML","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":700,"wires":[["ba3e6ba7.789bf8"]]},{"id":"ba3e6ba7.789bf8","type":"debug","z":"a8e707bb.5c0128","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":700,"wires":[]},{"id":"d54ff9c0.5bf5f","type":"file","z":"a8e707bb.5c0128","name":"","filename":"/Users/ttw/NCKU/1081/iot/om2m_LAB/LAB5/notification.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":780,"wires":[[]]},{"id":"f808d2a4.e785b","type":"inject","z":"a8e707bb.5c0128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":560,"wires":[["9b272947.0687d"]]},{"id":"9b272947.0687d","type":"function","z":"a8e707bb.5c0128","name":"","func":"msg.payload = \"<om2m:subscription xmlns:om2m='http://uri.etsi.org/m2m'><om2m:filterCriteria><ifMatch>content</ifMatch></om2m:filterCriteria><om2m:contact>http://localhost:1880/Lab5_sub</om2m:contact></om2m:subscription>\"\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":560,"wires":[["f6d2d8b2.f75628","57764d82.27f674"]]},{"id":"f6d2d8b2.f75628","type":"http request","z":"a8e707bb.5c0128","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/containers/DESCRIPTOR/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":430,"y":540,"wires":[["ca0850c9.c25fa8"]]},{"id":"ca0850c9.c25fa8","type":"debug","z":"a8e707bb.5c0128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":560,"wires":[]},{"id":"57764d82.27f674","type":"http request","z":"a8e707bb.5c0128","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/containers/DESCRIPTOR/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":430,"y":580,"wires":[["ca0850c9.c25fa8"]]}]