LAB2/flows.json
[{"id":"2507bbf4.46eae4","type":"http in","z":"9923c528.767e7","name":"","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["5d425e25.c7f288"]]},{"id":"5d425e25.c7f288","type":"function","z":"9923c528.767e7","name":"","func":"msg.payload = {\"latitude\":22.9971959, \"longitude\": 120.2096373};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["fbafa380.9daaf"]]},{"id":"fbafa380.9daaf","type":"http response","z":"9923c528.767e7","name":"","statusCode":"","headers":{},"x":580,"y":140,"wires":[]},{"id":"b0170c99.8a1bd8","type":"http in","z":"9923c528.767e7","name":"","url":"locations","method":"post","upload":false,"swaggerDoc":"","x":100,"y":220,"wires":[["4da092e1.e16374"]]},{"id":"4da092e1.e16374","type":"function","z":"9923c528.767e7","name":"","func":"msg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["b44b9fe7.d13a4"]]},{"id":"b44b9fe7.d13a4","type":"http response","z":"9923c528.767e7","name":"","statusCode":"","headers":{},"x":570,"y":220,"wires":[]}]