LAB3/flows_NA.json
[{"id":"79131e08.3195a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ed5d542f.4e391","type":"inject","z":"79131e08.3195a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["71917ed9.a6419"]]},{"id":"71917ed9.a6419","type":"oM2M-Application","z":"79131e08.3195a","xSCL":"abdac608.ca7e5","xA":"e1a8ea92.60524","obixType":"NetworkApplication","obixCategory":"demo","obixLocation":"NCKU","obixAnnounce":true,"x":390,"y":140,"wires":[["4c434f5e.382bf8"]]},{"id":"4c434f5e.382bf8","type":"http request","z":"79131e08.3195a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":590,"y":140,"wires":[["c4f0c043.4a9878"]]},{"id":"c4f0c043.4a9878","type":"debug","z":"79131e08.3195a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":140,"wires":[]},{"id":"121f6cf8.86d82b","type":"oM2M-Subscription","z":"79131e08.3195a","xSCL":"abdac608.ca7e5","xA":"e1a8ea92.60524","contactPath":"/notification","filterType":"","filterCriteria":"","x":390,"y":220,"wires":[["e54d2935.164d08"]]},{"id":"7c3ea53c.951074","type":"inject","z":"79131e08.3195a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["121f6cf8.86d82b"]]},{"id":"e54d2935.164d08","type":"http request","z":"79131e08.3195a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":590,"y":220,"wires":[["2c462e09.c47cda"]]},{"id":"2c462e09.c47cda","type":"debug","z":"79131e08.3195a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":220,"wires":[]},{"id":"7f79423e.22267c","type":"http in","z":"79131e08.3195a","name":"Listen to HTTP POST Notification","url":"/notification","method":"post","upload":false,"swaggerDoc":"","x":270,"y":300,"wires":[["408e0307.ab6444","da93745b.6b0ee"]]},{"id":"408e0307.ab6444","type":"xml","z":"79131e08.3195a","name":"","property":"payload","attr":"","chr":"","x":510,"y":300,"wires":[["6e5f3cfb.bb9044"]]},{"id":"da93745b.6b0ee","type":"http response","z":"79131e08.3195a","name":"Notification Response","statusCode":"","headers":{},"x":590,"y":380,"wires":[]},{"id":"6e5f3cfb.bb9044","type":"function","z":"79131e08.3195a","name":"Extract Data from XML","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["1059dd50.5d4fcb","c0fcdb97.d98bb8"]]},{"id":"1059dd50.5d4fcb","type":"debug","z":"79131e08.3195a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":300,"wires":[]},{"id":"c0fcdb97.d98bb8","type":"file","z":"79131e08.3195a","name":"","filename":"/Users/ttw/NCKU/1081/iot/om2m_LAB/LAB3/notification.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1060,"y":380,"wires":[[]]},{"id":"52e2efee.c1aa88","type":"http in","z":"79131e08.3195a","name":"","url":"/readSensorData","method":"get","upload":false,"swaggerDoc":"","x":240,"y":480,"wires":[["1953590.7dd3627"]]},{"id":"1953590.7dd3627","type":"file in","z":"79131e08.3195a","name":"","filename":"/Users/ttw/NCKU/1081/iot/om2m_LAB/LAB3/notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":620,"y":480,"wires":[["7a871dc5.c1f37c"]]},{"id":"7a871dc5.c1f37c","type":"xml","z":"79131e08.3195a","name":"","property":"payload","attr":"","chr":"","x":950,"y":480,"wires":[["14466603.070a62"]]},{"id":"14466603.070a62","type":"http response","z":"79131e08.3195a","name":"","statusCode":"","headers":{},"x":1110,"y":480,"wires":[]},{"id":"abdac608.ca7e5","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"e1a8ea92.60524","type":"xA","z":"","appId":"MY_NETWORK_APPLICATION","contactUrl":"localhost:1880"}]