LAB3/flows_GA.json
[{"id":"79a470b.fb5739","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bb7bcf27.345148","type":"inject","z":"79a470b.fb5739","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":140,"wires":[["88ae1304.c4fb5"]]},{"id":"88ae1304.c4fb5","type":"oM2M-Application","z":"79a470b.fb5739","xSCL":"99b9e1d8.8a7c9","xA":"e104a1f.bb82b6","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":440,"y":140,"wires":[["2ac0f012.41be88"]]},{"id":"2ac0f012.41be88","type":"http request","z":"79a470b.fb5739","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":140,"wires":[["2e471388.0fbc14"]]},{"id":"2e471388.0fbc14","type":"debug","z":"79a470b.fb5739","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":140,"wires":[]},{"id":"f0db7ff.fb186","type":"oM2M-Descriptor-Container","z":"79a470b.fb5739","xSCL":"99b9e1d8.8a7c9","xA":"e104a1f.bb82b6","x":440,"y":200,"wires":[["3c756934.93755e"]]},{"id":"1ec831c2.fdae0e","type":"oM2M-Data-Container","z":"79a470b.fb5739","xSCL":"99b9e1d8.8a7c9","xA":"e104a1f.bb82b6","maxNrOfInstances":"100","obixAnnounce":true,"x":440,"y":320,"wires":[["d51379e7.57a3f8"]]},{"id":"108834ab.fb444b","type":"oM2M-Descriptor-ContentInstance","z":"79a470b.fb5739","xSCL":"99b9e1d8.8a7c9","xA":"e104a1f.bb82b6","obixType":"","obixLocation":"","x":440,"y":260,"wires":[["ced10178.211fc8"]]},{"id":"ccd06906.2bdfe","type":"oM2M-Data-ContentInstance","z":"79a470b.fb5739","xSCL":"99b9e1d8.8a7c9","xA":"e104a1f.bb82b6","obixCategory":"","x":600,"y":380,"wires":[["2f6175e8.babe32"]]},{"id":"bced1190.27b2b8","type":"inject","z":"79a470b.fb5739","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":200,"wires":[["f0db7ff.fb186"]]},{"id":"5385c21f.32db4c","type":"inject","z":"79a470b.fb5739","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":260,"wires":[["108834ab.fb444b"]]},{"id":"6242a513.a26724","type":"inject","z":"79a470b.fb5739","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":320,"wires":[["1ec831c2.fdae0e"]]},{"id":"3c756934.93755e","type":"http request","z":"79a470b.fb5739","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":200,"wires":[["587a381a.69759"]]},{"id":"587a381a.69759","type":"debug","z":"79a470b.fb5739","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":200,"wires":[]},{"id":"6ff2a211.e7deac","type":"function","z":"79a470b.fb5739","name":"My Data","func":"var data = {\n    type: 'string',\n    uint: 'fake data',\n    data: msg.payload.name\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["ccd06906.2bdfe"]]},{"id":"d51379e7.57a3f8","type":"http request","z":"79a470b.fb5739","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":320,"wires":[["9caaa210.2bc798"]]},{"id":"9caaa210.2bc798","type":"debug","z":"79a470b.fb5739","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":320,"wires":[]},{"id":"ced10178.211fc8","type":"http request","z":"79a470b.fb5739","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":260,"wires":[["49dab9fa.958bd"]]},{"id":"49dab9fa.958bd","type":"debug","z":"79a470b.fb5739","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":260,"wires":[]},{"id":"2f6175e8.babe32","type":"http request","z":"79a470b.fb5739","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":790,"y":380,"wires":[["eaf4fd50.86bde8"]]},{"id":"eaf4fd50.86bde8","type":"debug","z":"79a470b.fb5739","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":380,"wires":[]},{"id":"ef2268b8.bcd0c8","type":"http in","z":"79a470b.fb5739","name":"Post Sensor Data","url":"/sensorData","method":"post","upload":false,"swaggerDoc":"","x":220,"y":380,"wires":[["6ff2a211.e7deac","700ae521.052204"]]},{"id":"700ae521.052204","type":"http response","z":"79a470b.fb5739","name":"","statusCode":"","headers":{},"x":420,"y":460,"wires":[]},{"id":"99b9e1d8.8a7c9","type":"xSCL","z":"","sclId":"gscl","host":"127.0.0.1","port":"8181","baseUrl":"/om2m/"},{"id":"e104a1f.bb82b6","type":"xA","z":"","appId":"MY_SENSOR","contactUrl":"localhost:1880"}]